In [3]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

import numpy as np
import pandas as pd

In [4]:
dataset = pd.read_csv('combined_data.csv')

In [5]:
dataset.head()

   Unnamed: 0                                               text  sentiment
0           0  So there is no way for me to plug it in here i...          0
1           1                         Good case Excellent value.          1
2           2                             Great for the jawbone.          1
3           3  Tied to charger for conversations lasting more...          0
4           4                                  The mic is great.          1

In [6]:
review = dataset['text'].tolist()

In [11]:
tokenizer = Tokenizer(oov_token = '<OOV>')
tokenizer.fit_on_texts(review)

word_index = tokenizer.word_index

In [ ]:
print(len(word_index))
print(word_index)

In [12]:
sequences = tokenizer.texts_to_sequences(review)
padded  = pad_sequences(sequences, padding='post')

In [16]:
print(padded.shape)

# What is the first review?
print (review[0])

# Show the sequence for the first review
print(padded[0])

(1992, 139)
So there is no way for me to plug it in here in the US unless I go by a converter.
[  28   59    8   56  142   13   61    7  269    6   15   46   15    2
  149  449    4   60  113    5 1429    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0]